@import "var";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}

html, body {
  height: 100%;
}

// common overlay styles
.cdk-overlay-container {
  position: fixed;
  width: 100%;
  top: 0;
}
